*,*::after,
*::before {
	box-sizing: border-box;
	margin:0;
}

html{
overflow-y: scroll;
}

h1,h2,h3,h4,h5,input,label{
	font-family: 'Open Sans', sans-serif;
}

p{
	/*width:50rem;*/
}

p,a,button{
	font-family: 'Open Sans', sans-serif;
	text-decoration: 	none;
	color: black;
}

.heromenu{
	border:1px solid black;
}

.heromenu a{
	padding-right: 4rem;
	width:100%;
}

.heromenu a:hover{
	color:grey;
}

input[type=text]{
	background:#fff;
	border:1px solid white;
	padding:6px;
	margin-top:6px;
	width:10rem;
	border-bottom:2px solid black;
	font-size: 1rem;
}

input[type=text]:focus{
	background:#c6c6c6;
	border:1px solid white;
	padding:6px;
	margin-top:6px;
	width:10rem;
	border-bottom:2px solid black;
	font-size: 1rem;
}

input[type=button]{
	background:#fff;
	border:1px solid black;
	font-size: 	1rem;
	padding:6px;
	margin-top:6px;
	width:8rem;
}

input[type=button]:hover{
	transition: ease-in;
	transition-duration: 	.2s;
	background:black;
	color:white;
	font-size: 	1rem;
	padding:6px;
	margin-top:6px;
}

img{
	width:100%;
	height: auto;
	/*adapted from https://www.w3schools.com/css/css_rwd_images.asp*/
}

section{
	padding-top: 	2rem;
	padding-bottom: 	2rem;
}

.container{
	display: grid | inline-grid ;
	grid-template-columns: 	repeat(3,1fr)
}

.ctawrapper{
	display:grid;
	grid-template-columns: 	1fr 1fr;
}

.ctachild{
	background-color:green;
	grid-column-start: col-start 1;
}

.ctachildex{
	grid-column-start: col-start 2;
}

#intro{
	font-size: 	5rem;
	line-height: 	4.75rem;
}

.imglink{
	border: 1px solid orange;
	width:100%;
	height:auto;

}

.imglink img:hover{
		filter:blur(10px);
		transition: 	.2s;
}

.sidenav{
	height:100%;
	position: fixed;
	z-index: 1;
	top:0;
	left:0;
	border-right: 	1px solid black;
	background-color: 	#ffffff;
	overflow-x: 	hidden;
	padding: 1rem;
}

.sidenav a{
	display:block;
	padding: .5rem;
	font-size: 	1.25rem;
	color:#c6c6c6;
	text-decoration: 	none;
}

.sidenav a:hover{
	color:black;
}

.sidenav a:focus{
	color:black;
}

.ctaexpanded{
	border:1px solid black;
	text-decoration:none;

}

.salescard{
	border: 1px solid black;
	width:	35rem;
	padding: 3rem;
	text-decoration: none;
}

.salescard:hover,:focus{
	filter:brightness(1.25);
}

#navarrow:hover{
	margin-left: 	20px;
}

#navarrow{
	font-size: 	4rem;
	width:29rem;
	text-align: 	right;
}

.salescard img{
	padding-bottom: 1rem;
}

.salescard p, em{
	font-size: 	1rem;
	padding-top: 	.25rem;

}

.main{
	/*to accomodate the vertical nav bar*/
	margin-left: 15rem;
	font-size: 	28px;
	padding:0px 10px;
	border:1px solid black;
	/*overflow-x: hidden;*/
}

@media screen and (max-width: 46.25rem){
	p{
		width:10rem;
		background-color:orange;
	/*
	adapted from https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_col-s*/
	}
}
