.grid-container{
  display:grid;
  background-color:#c6c6c6;
  gap:1rem;
}

.grid-item{
  background-color: purple;
  border:1px solid black;

}

input[type=button]{
	background:#fff;
	border:1px solid black;
	font-size: 	1rem;
	padding:6px;
	margin-top:6px;
	width:8rem;
}

input[type=button]:hover{
	transition: ease-in;
	transition-duration: 	.2s;
	background:black;
	color:white;
	font-size: 	1rem;
	padding:6px;
	margin-top:6px;
}

.itempicture{

}

.itemtext{
  padding: 5rem;
  font-size: 3rem;
}
img{
  width:50%;
}
